*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	/*background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.8)),url("cmp.jpg");
	background-size: cover;*/
  background-image: linear-gradient(to right, rgba(150,0,10,0.8), rgba(50,0,150,1));

}

.img
{
	opacity: 1.5;
	border-radius: 100px;
	margin-top: 30px;
	margin-left: 50px;
	border: 5px solid #ffff23;
}
.nav-links ul{
	float: right;
	list-style-type: none;
	margin-top: -40px;
	margin-right: 50px;
}
.nav-links ul li{
	display: inline-block;
}
.nav-links ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px ;
	padding: 5px 20px;
	border: 1px solid transparent; 
	transition: 0.6s ease;
}
.nav-links ul li a:hover{
	background-color: #fff;
	color: #000;
}
.nav-links ul li.active a{
	background-color: #fff;
	color: #000;
}

.Contactform{
	width: 500px;
	font-size: 35px;
	margin: 100px;
	margin-left: 480px;
	margin-top: 50px;
	padding: 20px;
	border: solid 2px #fff;
	background: #1E1B8D; 
	border-radius: 10px;
}
.Contactform input, label, textarea, button{
	width: 90%;
	padding: 10px;
	margin: 10px;
}
label{
	color: #fff;
}
input, textarea{
	background-image: linear-gradient(to right, rgba(150,0,10,0.8), rgba(50,0,150,1));
	color: #fff;
	border-radius: 10px;
	font-size: 15px;

}
textarea{
	height: 100px;
}
.submitbutton{
	background-image: linear-gradient(to right, rgba(150,0,10,0.8), rgba(50,0,150,1));

	border: 2px solid #fff;
	width: 150px;
	font-size: 15px;
	margin-left: 150px;
	color: #fff;
	transition: 0.5s ease;
}
.submitbutton:hover{
	background-image: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,1));

	color: #1E1B8D;
}

@keyframes text{
	0%{
		color: grey;
		margin-bottom: -100px;
	}
	
}

.fa-bars{
	visibility: hidden;
}
.fa-times{
	visibility: hidden;
}
@media (max-width:700px) {
	body{
	overflow-x: hidden;
	background-size: 100% 100%;
}

.nav-links{
	padding: 10px 30px;
}
.fa-bars{
	visibility: visible;
	position: absolute;
	right: 20px;
	top: 10px;
	margin-top: 25px;
	color: #fff;
}
.nav-links .fa{
	display: block;
	margin: 10px 25px;
	font-size: 22px;
	cursor: pointer;
}
.img
{
	height: 30px;
	width: 90px;
}

.nav-links{
	height: 100vh;
	width: 200px;
	margin-top: 0px;
	background: #454d55;
	top: 0;
	right: -300px;
	position: absolute;
	text-align: left;
	z-index: 2;
	transition: 0.5s ease;
}
.fa-times{
	visibility: visible;
	color: #fff;
	margin-top: 0px;
	top: 0;
	right: 0; 
	position: absolute;
}
.nav-links ul li a{
	margin-top: 50px;
	font-size: 15px;
	display: block;
}

}
@media (max-width:360px) {
	body{
	overflow-x: hidden;
	background-size: 100% 100%;
}
 
.nav-links{
	padding: 10px 30px;
}
.fa-bars{
	visibility: visible;
	position: absolute;
	right: 20px;
	top: 10px;
	margin-top: 25px;
	color: #fff;
}
.nav-links .fa{
	display: block;
	margin: 10px 25px;
	font-size: 22px;
	cursor: pointer;
}
.img
{
	height: 30px;
	width: 90px;
}

.nav-links{
	height: 100vh;
	width: 200px;
	margin-top: 0px;
	background: #454d55;
	top: 0;
	right: -300px;
	position: absolute;
	text-align: left;
	z-index: 2;
	transition: 0.5s ease;
}
.fa-times{
	visibility: visible;
	color: #fff;
	margin-top: 0px;
	top: 0;
	right: 0; 
	position: absolute;
}
.nav-links ul li a{
	margin-top: 50px;
	font-size: 15px;
	display: block;
}

}
